extends partial/base

block header
    include partial/index-header

block content
    div(class="container-fluid", role="main")
        
        .row
            .col-lg-7.col-lg-offset-1.col-md-9.col-sm-8
                .row
                    include partial/galeri
                .row
                    .col-md-12
                        .posts-list
                            - page.posts.each(function (post) {
                            article.post-preview
                                a(href=url_for(post.path))
                                    h2.post-title!= post.title
                                    if post.subtitle
                                        h3.post-subtitle!= post.subtitle
                                include partial/post-meta
                                +post_meta(post.date, post.tags)
                                .post-entry!= post.excerpt
                                a(href=url_for(post.path), class="post-read-more")!= __('more')
                            - })
                        ul.pager.main-pager
                            if page.prev
                                li.previous
                                    a(href=url_for(page.prev === 1 ? "/" : ("/" + config.pagination_dir + "/" + page.prev)))= __('prev')
                            if page.next
                                li.next
                                    a(href=url_for("/" + config.pagination_dir + "/" + page.next))= __('next')
            .col-lg-3.col-md-3.col-sm-4
                .row
                    .col-md-12
                        include partial/akan-datang
                        include partial/pengerusi








