script(src=url_for("/js/jquery-1.11.2.min.js"))
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src=url_for("/js/main.js"))
script(src=url_for("/js/nanogallery.js"))
script(src=url_for("/js/jquery.nanogallery.js"))

if theme.highlight.enable
    script(src=url_for("/js/highlight.min.js"))
    script hljs.initHighlightingOnLoad();

include google_analytics